@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


.gridMuui {
  position: relative;
  max-width: 95vw;
  margin: 0 auto;
}
.item {
  display: block;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1;
  color: #fff;
}

.item {
  width: 50%;
}

.item--50 {
  width: 100%;
}

.item--75 {
  width: 100%;
}

@media (min-width: 768px) {
  .item {
    width: 50%;
  }
  .item--50 {
    width: 100%;
  }
  .item--75 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .item {
    width: 33.33%;
  }
  .item--50 {
    width: 66.66%;
  }
  .item--75 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .item {
    width: 25%;
  }
  .item--50 {
    width: 50%;
  }
  .item--75 {
    width: 75%;
  }
}

@media (min-width: 1600px) {
  .item {
    width: 20%;
  }
  .item--50 {
    width: 40%;
  }
  .item--75 {
    width: 60%;
  }
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}


.special-button::before {
		content: '';
		width: 200%; /* The upscaling allows the box to fill its container even when rotated */
    height: 200%;
		position: absolute;
		bottom: -50%;
		left: -50%;
		transition: all 0.5s ease-in-out;
		background: conic-gradient(
			from 180deg at 50% 50.48%,
			#fff 0.28deg,
			rgba(0, 10, 53, 0) 106.33deg,
			rgba(0, 9, 47, 0) 179.09deg,
			#fff 150.91deg,
			rgba(0, 9, 47, 0) 179.09deg,
			rgba(0, 9, 47, 0) 179.09deg
		);
    opacity: 0.3;

		animation: rotate-border 0.8s linear infinite;
	}

	@keyframes rotate-border {
		to {
			transform: rotate(-360deg);
		}
	}