@tailwind base;
@tailwind components;
@tailwind utilities;

.gridMuui {
  position: relative;
  max-width: 95vw;
  margin: 0 auto;
}
.item {
  display: block;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1;
  color: #fff;
}

.item {
  width: 50%;
}

.item--50 {
  width: 100%;
}

.item--75 {
  width: 100%;
}

@media (min-width: 768px) {
  .item {
    width: 50%;
  }
  .item--50 {
    width: 100%;
  }
  .item--75 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .item {
    width: 33.33%;
  }
  .item--50 {
    width: 66.66%;
  }
  .item--75 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .item {
    width: 25%;
  }
  .item--50 {
    width: 50%;
  }
  .item--75 {
    width: 75%;
  }
}

@media (min-width: 1600px) {
  .item {
    width: 20%;
  }
  .item--50 {
    width: 40%;
  }
  .item--75 {
    width: 60%;
  }
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
